{% extends "index.html" %}

{% block main_content %}
<h1 class="mb-4">Nieuwe Fiets Toevoegen</h1>

<form action="/fietsen/toevoegen" method="POST"
      class="p-3 bg-white rounded shadow-sm"
      style="max-width: 500px;">

    <!-- Itemnummer -->
    <label class="form-label">Itemnummer</label>
    <input type="number" name="itemnr" class="form-control mb-3" required>

    <!-- Merk -->
    <label class="form-label">Merk</label>
    <input type="text" name="merk" class="form-control mb-3" required>

    <!-- Model -->
    <label class="form-label">Model</label>
    <input type="text" name="model" class="form-control mb-3" required>

    <!-- Status -->
    <label class="form-label">Status</label>
    <select name="status" class="form-select mb-3" required>
        {% for status in StatusEnum %}
            <option value="{{ status.name }}">
                {{ status.name }}
            </option>
        {% endfor %}
    </select>

    <!-- Leeftijdscategorie -->
    <label class="form-label">Leeftijdscategorie</label>
    <select name="leeftijdscategorie" class="form-select mb-4" required>
        {% for leeftijd in LeeftijdEnum %}
            <option value="{{ leeftijd.name }}">
                {{ leeftijd.name }}
            </option>
        {% endfor %}
    </select>

    <!-- Submit -->
    <button type="submit" class="btn-save">Opslaan</button>
</form>
{% endblock %}
