{% extends "index.html" %}

{% block main_content %}
<h1>Financieel Overzicht</h1>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Kind</th>
            <th>Betalingswijze</th>
            <th>Bedrag</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        {% for betaling in betalingen %}
        <tr>
            <td>{{ betaling.item.itemnr }}</td>
            <td>{{ betaling.kind.naam }}</td>
            <td>{{ betaling.betalingswijze.value }}</td>
            <td>€{{ "%.2f"|format(betaling.bedrag) }}</td>
            <td>{{ betaling.datum.strftime('%d-%m-%Y') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

